<!-- add_device.html -->
<!-- Sends a POST request for tracker registration -->

{% extends "dashboard.html" %}

{% block content %}

    <h1>Device registration</h1>
    <form method="post" action="{% url 'add_device' %}">
        <table>
            {{form}}
        </table>
        {% csrf_token %} 
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
        <button type="submit">Complete registration</button>
    </form>
    
{% endblock %}