<!-- Copied from 17-437 base.html -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    <title>B6 - Food Tracker</title>
  </head>

  <body>
    <div id="page-title">
      {% block page-title %}{% endblock %}
    </div>

    <div class="user-info">
      {% block user-info %}
      {% endblock %}
    </div>

    {% if message %}
    {% endif %}
    
    <div class="row">
      <div class="column sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>
      <div class="column content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
