<!-- dashboard.html -->
<!-- 

TODO
- bold page you're currently on in sidebar
- hide cabinets once you reach a certain number of cabinets

 -->
{% extends "base.html" %}

{% block user-info %}
<nav class="navbar navbar-light bg-light">
    <h1>Hello, {{ user.first_name }}</h1>
    <form class="form-inline">
      <a class="btn btn-sm btn-outline-secondary" type="button" href="{% url 'profile' %}">Profile</a>
      <a class="btn btn-sm btn-outline-secondary" type="button" href="{% url 'logout' %}">Log Out</a>
    </form>
  </nav>

{% endblock %}

{% block sidebar %}
    <nav class="sidebar card" id="sidebar" style = "width: 20rem;">
        <a class="nav-link has-submenu h1 text-dark" href="{% url 'dashboard' %}">My cabinets</a>
        <ul>
            {% for device in devices %}
                <li class="nav-link h6 text-dark"><a href="{% url 'cabinet' device.id %}">{{ device.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="nav-link h1 text-dark" href="{% url 'recipes' %}">Recipes</a>
        <a class="nav-link h1 text-dark" href="#TODO">Tracker status</a>
        <a class="nav-link h1 text-dark" href="{% url 'add_device' %}">Register Device</a>
    </nav>
{% endblock %}

{% block content %}
    {% if message %}
    <h2> {{ message }} </h2>
    <!-- elif request.session.message -->
    <!-- <h2> request.session.message </h2> -->
    {% endif %}

    <ul>
        {% for device in devices %}
            <li>
                <a href="{% url 'cabinet' device.id %}">{{ device.name }}</a>
                <form action="{% url 'del_cabinet' device.id %}" method="post">
                    {% csrf_token %}
                    <button class="delete" type="submit">Delete</button>
                </form>
            </li>

        {% endfor %}
    </ul>

{% endblock %}

