<!-- Splash page for non-logged in users -->

{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="splash">
      <img class="rounded mx-auto d-block img-fluid" src="{% static "media/logo.png" %}" />
    </div>
  
    <div class="text-center">
      <p class="title">Food Tracker</p>
      <p class="sub-title">A Home Cook's Best Friend</p>
    </div>
  
    <div class="blurb m-4">
      <p>Food Tracker is a revolutionary new service that allows you to keep track of your inventory while out shopping! This service requires a one time simple installation, after which, you'll never need to wory about your kitchen inventory every again!</p>
    </div>
    
    <div class="d-grid col-md-3 col-8 mx-auto my-5">
      {% if not user.is_authenticated %}
        <a class="btn btn-primary my-1" href="{% url 'login' %}" role="button">
          Login
        </a>
      {% endif %}
    </div>

    <hr>
  
    <!--(Yoinked from bootstrap example)-->
    <!--Section: FAQ-->
  <section class="m-5">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>A simple
          question?</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra sapien in lorem vulputate, in condimentum elit rutrum. Fusce nec eros quam. Fusce dapibus ante id metus porta volutpat.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> A question
          that
          is longer then the previous one?</h6>
        <p>
          Pellentesque ut nulla sed magna commodo consequat. Vivamus maximus, eros id ultrices volutpat, tellus nibh porta nibh, at rhoncus neque mi ut turpis.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> A simple
          question?
        </h6>
        <p>
          Quisque suscipit tellus quis odio rutrum, rutrum semper ipsum vehicula. Aliquam eget risus non felis vehicula dapibus sit amet vitae urna. Phasellus ut nisi vitae mi fringilla molestie. Integer eleifend congue condimentum. In mollis aliquet nibh non maximus. Vestibulum finibus nulla nulla, a gravida quam tempus sed. Nam posuere molestie tortor quis gravida. Aliquam erat volutpat.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> A simple
          question?
        </h6>
        <p>
          Morbi ultricies vitae urna a blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> A simple
          question?
        </h6>
        Nulla facilisi. Pellentesque mi lacus, accumsan nec nisi vel, consectetur elementum quam. Fusce tincidunt fringilla volutpat. Etiam ullamcorper magna est, sed ornare elit molestie vitae.
      </div>
  
      <div class="col-md-6 col-lg-10 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Another
          question that is longer than usual</h6>
        <p>
          In feugiat justo at mauris convallis, nec facilisis dolor tincidunt. Integer accumsan ante ut faucibus laoreet.
        </p>
      </div>
    </div>
  </section>
  </div>
{% endblock %}
