<!-- inv.html -->

{% extends "dashboard.html" %}

{% block content %}

    <h1>{{ device.name }}</h1>
    {% if message %}
    <h2> {{ message }} </h2>
    <!-- elif request.session.message -->
    <!-- <h2> request.session.message </h2> -->
    {% endif %}
    <ul>
        <li>
            <!-- Shamelessly stolen from 17-437 todolist2 -->
            <form class="add-form" action="{% url 'add_item' device.id %}" method="post">
                <label>Manually add/remove Items:</label>
                <input type="text" name="item" autofocus>
                <input type="submit">
                {% csrf_token %}
            </form>
        </li>
        {% for item in items %}
        <li>{{ item.type.name }},
            <span class="details">{{ item }}</span>
            <form action="{% url 'del_item' item.id %}" method="post">
                {% csrf_token %}
                <button class="delete" type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <!-- <h1>Cabinet name</h1>
    <ul>
        <li>Spice 1</li>
        <li>Spice 2</li>
        <li>Spice 3</li>
    </ul> -->
{% endblock %}
