<!-- inv.html -->

{% extends "dashboard.html" %}

{% block content %}

    <h1>{{ device.name }}</h1>
    <ul>
        <li>
            <!-- Shamelessly stolen from 17-437 todolist2 -->
            <form class="add-form" action="{% url 'add_item' device.id %}" method="post">
                <label>Add Item:</label>
                <input type="text" name="item" autofocus>
                <input type="submit">
                {% csrf_token %}
            </form>
        </li>
        {% for item in items %} 
        <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
    
    <!-- <h1>Cabinet name</h1>
    <ul>
        <li>Spice 1</li>
        <li>Spice 2</li>
        <li>Spice 3</li>
    </ul> -->
{% endblock %}