<!-- recipes.html -->
<!-- 

TODO
    - support writing items in recipes that aren't in the fridge (yet)
    - mark presence of item somewhere with a checkmark
    - make recipes editable
    - add delete recipe button
 -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block recipes %}active{% endblock %}

{% load template_filters %}

{% block head %}
  <title>Recipes - Food Tracker</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
    <div class="mb-4">
        <div class="h2">Discover Recipes</div>
        <a href="{% url 'add_recipe' %}">Create your own</a>
    </div>

    {% if not recipes %}
        <div class="h5 my-2 text-muted">No available recipes, please check back later</div>
    {% else %}
        {% for recipe in recipes %}
            <div class="card text-center m-2 btn btn-light" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title my-2">
                        {{ recipe.name }}
                        <div class="text-muted small m-1">
                            by 
                            {% if recipe.author %}
                                {{ recipe.author.first_name }}
                            {% else %}
                                FoodTracker
                            {% endif %}
                        </div>
                    </h5>
                    <p class="card-text">
                        {{ recipe.id|get_num_of_ingredients:True }} ingredient{% if recipe.id|get_num_of_ingredients > 1 %}s{% endif %}
                    </p>

                    <a href="{% url 'public_recipe' recipe.id %}" class="btn btn-primary stretched-link">View</a>                
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

