a {
  /*font-size: 150%;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 20px; */
  color:  inherit;
}

.user-info {
  width:  100%;
  text-align:  right;
}

.title {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.sub-title {
  font-size: xx-large;
  padding-bottom: 5px;
  text-align: center;
}

.details {
  font-size: medium;
  font-style: italic;
}

.delete {
  font-size:  medium;
}

.error {
  font-size: x-large;
  color:red;
}

.add-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-form {
  display: inline;
}

.dot_online {
  height: 20px;
  width: 20px;
  background-color: rgb(65, 196, 13);
  border-radius: 50%;
  display: inline-block;
}

.dot_offline {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}
