input, button {
  font-size: x-large;
}

li {
  font-size: xx-large;
}

label {
  font-size: xx-large;
  font-family: sans-serif;
}

a {
  /*font-size: 150%;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 20px; */
  color:  inherit;
}

.user-info {
  width:  100%;
  text-align:  right;
}

.title {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.sub-title {
  font-size: xx-large;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.error {
  font-size: x-large;
  color:red;
}

/* Two-col layout:  https://devpractical.com/two-column-layout-html-css/  */
.row {
  width:  100%;
  padding-right:  10px;
  padding-left:  10px;
}

.sidebar, .content {
  width:  100%;
}
@media (min-width: 48em) {
  .sidebar {
    width: 30%;
    float:left;
    color:  darkgreen;
  }
  .content {
    width: 70%;
    float:right;
  }
  .row{
    /*content:  "";*/
    display:  table;
    clear:  both;
  }
}

.add-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-form {
  display: inline;
}
